<!doctype html>
<html lang="en">

<head>
	<style>
		h1{
		   color: rgb(148, 62, 188);
	   	}
		body{
			background-color: rgb(250, 249, 213);;
		}
   </style>
	<meta charset="utf-8" />
	<title>Previously Seen Articles</title>
</head>

<body>
	<h1>History</h1>

    <div>
		<%- newsArticles %>
	</div>

    <hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
