<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Previously Seen Articles</title>
</head>

<body>
	<h1>History</h1>

    The table below lists all of the links previously seen when any query/option combo was searched for.

    <div>
		<%- newsArticles %>
	</div>

    <hr>
	Lost? Click <a href="/">here</a> to return to the home page
</body>

</html>
