<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<style>
		body{
			background-color: rgb(250, 249, 213);;
		}
		h1{
		   color: rgb(148, 62, 188);
	   	}
		h3{
			color: rgb(148, 62, 188);
		}
   </style>
	<title>News Headline Search Tool</title>
</head>

<body>
	<h1>Welcome to the News Headline Search Tool!</h1>
	<h2>This tool uses the NewsAPI, which searches over 12000 &#128561 news sources, for any breaking news articles matching the title query you input! </h2>
	<h3>For any valid query, up to 10 of the latest news articles will be shown. </h3>
	<ul>
		<li>To make a new search, select <a href="/search">new search</a>.</li>
		<li>To view articles found during a previous search, select <a href="/history">history</a>.</li>
		<li>To clear your list of previously seen articles, select <a href="/reset">reset</a>.</li>
	</ul>
	<hr>
	<p><em>NewsData.io API, Courtesy of Rapid API</em></p>
</body>
</html>
