<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>News Headline Search Tool</title>
</head>

<body>
	<h1 style="color: red">Welcome to the News Headline Search Tool!</h1>
	<h2>This tool uses the NewsAPI, which searches over 12000 &#128561 news sources, for any breaking news articles matching the title query you input! </h2>
	<h3 style="color: blue">For any valid query, up to 10 of the latest news articles will be shown. </h3>
	
	To make a new search, select <a href="/search">new search</a>.<br><br>
	To view articles found during a previous search, select <a href="/history">history</a>.<br><br>
	To clear your list of previously seen articles, select <a href="/reset">reset</a>.<br><br>
	<hr>
</body>

</html>
