<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>News Headline Search Tool</title>
</head>

<body>
	<h1>Welcome to the News Headline Search Tool</h1>

	To search up a new query, select <a href="/search">make a new search</a>.<br><br>
	To view previously searched queries, select <a href="/history">history</a>.<br><br>
	To clear your previously searched queries list, select <a href="/reset">reset</a>.<br><br>
	<hr>
</body>

</html>
