<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>History Cleared</title>
</head>

<body>
	<h1 style="color:indianred">History has been cleared successfully.</h1>
	
	All previously seen articles have been removed from the database. Number of articles removed:<span style="font-size: 2rem"> <%- count %> </span><br><br>

	<hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
