<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>History Cleared</title>
</head>

<body>
	<h1>History has been cleared successfully.</h1>
	
	All previously searched queries have been removed from the database. Number of entries removed: <%- count %><br><br>

	<hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
