<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GPA</title>
</head>

<body>
	<h1 style="color: seagreen;">Clearing History</h1>
	<form action="http://localhost:5001/reset" method="post">
		Click the button on the right to clear previously searched queries history: <input type="submit" value="Clear history">
	</form> 
	<hr>
	Lost? Click <a href="/">here</a> to return to the home page
</body>

<script>
	window.onsubmit = popup;
	
	function popup() {
		let message = "Are you sure you want to clear the history?\n"

    	return confirm(message);
	} 
	
</script>

</html>
