<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<style>
		 h1{
            color: rgb(148, 62, 188);
        }
		body{
			background-color: rgb(250, 249, 213);
		}
	</style>
	<title>History Cleared</title>
</head>

<body>
	<h1>History has been cleared successfully.</h1>
	
	All previously seen articles have been cleared from your history. Number of articles removed:<span style="font-size: 2rem"> <%- count %> </span><br><br>

	<hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
