<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Results</title>
</head>

<body>
	<h1>Results</h1>
	
	<div>
		<%- newsArticles %>
	</div>

    <hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
