<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <style>
        h1{
            color: rgb(148, 62, 188);
        }
        body{
			background-color: rgb(250, 249, 213);;
		}
    </style>
</head>
<body>
    <h1>Search Page</h1>
    <h2>Unless stated otherwise, all of the following fields below are required!</h2>
    <form action="searchResults" method="post">
        <label>Enter at least one word to search for among all breaking news article titles: <input type="text" name="query" required></label>
        <br>
        <br>
        Pick a category to filter articles from:
        <select name="category" required>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="health">Health</option>
            <option value="politics">Politics</option>
            <option value="science">Science</option>
        </select>
        <br>
        <br>
        Pick a country to filter articles from:
        <select name="country" required>
            <option value="us">United States of America</option>
            <option value="gb">United Kingdom</option>
            <option value="in">India</option>
            <option value="ca">Canada</option>
            <option value="mx">Mexico</option>
        </select>

        <br><br>

        <input type="submit" value="Search for matching articles!">
        <input type="reset" value="Reset search form">
    </form>
    <hr>
	Click <a href="/">here</a> to return to the home page
</body>
</html>