<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<style>
		body{
			background-color: rgb(250, 249, 213);;
		}
		h1{
		   color: rgb(148, 62, 188);
	   	}
	</style>
	<title>Search Results</title>
</head>

<body>
	<h1>Results</h1>
	
	<div>
		<%- newsArticles %>
	</div>

    <hr>
	Click <a href="/">here</a> to return to the home page
</body>

</html>
