<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
</head>
<body>
    <form>
        <label>Enter searchword: <input type="text" name="query"/></label>
        <br>
        <br>
        Pick a category of your choice
        <select name="category" required>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="health">Health</option>
            <option value="politics">Politics</option>
            <option value="science">Science</option>
        </select>
        <br>
        <br>
        Pick a Country
        <select name="country" required>
            <option value="us">United States of America</option>
            <option value="gb">United Kingdom</option>
            <option value="in">India</option>
            <option value="ca">Canada</option>
            <option value="mx">Mexico</option>
        </select>






    </form>




    <hr>
	Lost? Click <a href="/">here</a> to return to the home page
</body>
</html>